@import url(https://fonts.googleapis.com/css?family=Arimo:400,700italic);

body{
	background-image: url("../photos/IMG_1957.jpg");
	font-family: 'Arimo', sans-serif;
	background-size: cover;
	color: white;
}

form{
	margin-bottom: 30px;
}

h1{
	margin-bottom: 20px;
	font-size: 46px;
}

img{
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 25px;
}

.title, .artist{
	display: inline;
}

.playcount, .duration{
	font-size: 13px;
}

.sampletrack{
	background-color: gray;
	padding: 10px;
	height: 220px;
	margin-bottom: 20px;
	opacity: .75;
}

a, a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: #CCCCFF;
}



